body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.2em;
}

a {
    color: #ffbd59;
}

table, th, td {
    border: 1px solid white;
  }

h1 {
    font-family: 'Bacasime Antique', serif;
    font-size: 3.2em;
}

h2, h3, h4 {
    font-family: 'Bacasime Antique', serif;
    font-size: 2em;
}